<!DOCTYPE html>
<html>
<head>
    <title>BungeeCP</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>

